html, body {
    height: 100%; 
    overflow-x: hidden; /* Обычно это нужно для предотвращения горизонтальной прокрутки */
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Steppe-Book';
    src: url("./fonts/Steppe-Book.ttf");
}

@font-face {
    font-family: 'Steppe-ExtraBold';
    src: url("./fonts/Steppe-ExtraBold.ttf");
}

body {
    background-color: white;
    font-family: 'Steppe-Book', sans-serif;
    color: #5D3427;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.main {
    position: relative;
}

.header__logo {
    width: 170px;
    height: 50px;
}

.help {
    font-weight: 700;
    position: fixed;
    right: 50px;
    bottom: 50px;
    border: 1px solid #5D3427;
    padding: 8px 16px;
    height: auto;
    min-width: 25px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    line-height: 17px;
    z-index: 1;
    user-select: none;
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(93, 52, 39, 0.5); /* Более темная тень */
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 15px rgba(93, 52, 39, 0); /* Тень более заметна */
    }

    100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(93, 52, 39, 0);
    }
}
  
.header {
    padding: 40px 0;
}

.header .container {
    display: flex;
    align-items: center;
}

.menu {
    margin-left: 250px;
}

.menu-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
}

.logo {
    float: left;
    width: 40px;
    height: 40px;
}

.menu-item a {
    font-size: 16px;
    line-height: 130%;
    text-decoration: none;
    cursor: pointer;
    color: #5D3427;
}
  
.menu-item a:hover {
    border-bottom: 2px solid #5D3427;
}

.main-content {
    padding-top: 140px;
    padding-bottom: 150px;
}

.main-info {
    max-width: 811px;
}

.main-title {
    font-family: 'Steppe-ExtraBold', sans-serif;
    font-size: 90px;
    line-height: 100%;
    margin-bottom: 20px;
}

.main-text {
    max-width: 697px;
    font-size: 18px;
    line-height: 130%;
    margin-bottom: 40px;
}

.button {
    background-color: rgb(255, 129, 12);
    border-radius: 60px;
    height: 58px;
    width: 205px;
    box-sizing: border-box;
    padding: 18px;
    text-align: center;
    font-size: 18px;
    color: white;
    outline: none;
    border: 0;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(247, 153, 65, 0.863);
}

.common-title {
    font-family: 'Steppe-ExtraBold', sans-serif;
    font-size: 60px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.gallery-item-orange {
    background-color: rgb(243, 153, 69);
    padding: 60px 80px 0 80px;
    box-sizing: border-box;
    color: #5D3427;
}

.gallery-item-title {
    font-family: 'Steppe-ExtraBold', sans-serif;
    font-size: 24px;
    line-height: 110%;
    margin-bottom: 20px;
}

.gallery-item-text {
    font-family: 'Steppe-Book', sans-serif;
    font-size: 18px;
    line-height: 130%;
}

.galleries {
    display: flex;
    gap: 20px;
}

.gallery {
    position: relative;
    width: 590px;
    height: 453px;
}

.gallery__slides {
    position: relative;
    overflow: hidden; /* Скрыть выходящие за пределы элементы */
    width: 100%; /* Ширина контейнера */
    height: 100%; /* Высота контейнера */
}

.gallery__slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.gallery__slide_active {
    opacity: 1;
    right: 0;
}

.gallery_box {
    width: 590px;
    height: 453px;
    background-position: 50%;
    background-size: cover;
}


.gallery_image_title {
    background-image: url("./images/image_5.png");
}
.gallery_image_second {
    background-image: url("./images/image_2.png");
}
.gallery_image_third {
    background-image: url("./images/image_3.png");
}
.gallery_image_fourth {
    background-image: url("./images/image_4.png");
}

.gallery_image_five {
    background-image: url("./images/image_1.png");
}

.programms {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 50px;
}

.programm {
    position: relative;
    width: calc(50% - 20px);
}

.programm__text {
    font-family: 'Steppe-Book', sans-serif;
    background-color: rgb(243, 153, 69);
    padding: 30px 10px; /* Убедитесь, что отступы равны */
    font-size: 25px;
    font-weight: 700;
    line-height: 34px; /* Можно настроить для лучшего вида */
    text-align: center;
    border-radius: 60px;
    cursor: pointer;
}

.programm__text a {
    text-align: center;
    text-decoration: none;
    color: #5D3427;

}

.programm__text:hover a {
    border-bottom: 3px solid #5D3427;
}


.line1 {
    position: absolute;
    z-index: -1;
    top: 0;
    left: calc(100% - 960px);
}

.line2 {
    position: absolute;
    z-index: -1;
    top: -40px; /* или любое значение, которое вам нужно */
    left: 0;
    width: 100%; /* Занять полную ширину */
    height: auto; /* Высота будет пропорциональна ширине */
}

.order {
    position: relative;
}

.main-programm {
    padding-bottom: 150px;
    position: relative;
}
